:root {
  --color-primaria: #febe01;
  --color-primaria1: #321;
  --color-primaria2: #bebebe;
}

body {
  display: grid;
  font-family: Arial;
  max-width: 1200px;
}

.inicio a {
  margin-left: 20px;
  padding: 8px 16px;
  font-size: 1.2rem;
  color:#321;
  
}

.titulo {
  display: grid;
  place-items: center;
  
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 10px;
}

.item a {
  width: 180px;
  font-size: 1.2rem;
  align-items: center;
}


.item1 a {
  margin-top: 5px;
padding: 8px 16px;
}

h1 {
  text-align: center;
  background: var(--color-primaria);
  padding: 15px;
  margin: 20px;
  border-radius: 4px;
}

h2 {
  margin: 0px;
}

span {
  color: var(--color-primaria);
  font-size: 20px;
}

.item {
  background: #111;
  color: var(--color-primaria2);
  padding: 15px;
  margin: 20px;
  border-radius: 4px;
}

a {
  display: inline-block;
  color: var(--color-primaria1);
  background: var(--color-primaria);
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.item1 {
  background: var(--color-primaria1);
  color: var(--color-primaria2);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: 14px;
  width: auto;
  text-align: center;
}
